{% extends "orglist/base.html" %}
{% block content %}
	{%for post in posts%}
		<article class="media content-section">
		<img class="rounded-circle" src="{{post.file.profile.image.url}}">	
		  <div class="media-body">
		    <div class="article-metadata">

		      <a class="mr-2" href="#">{{ post.finder }}</a>

		    </div>
		    <p class="article-content">
		    <h2>lost item id:{{ post.item_number }}</h2>
		    <h2>weight of the object:{{ post.weight }}(kg)</h2>
		    <h2>insurance amount:Rs {{ post.insurance_amount }}</h2>
		    <h2>destination:{{ post.destination }}</h2>
		    <h2>expected delivery date:{{ post.delivery_date|date:"F d, Y" }}</h2>
		  	{% if post.status == True %}
		    	<h2>delivery status:delivered</h2>
		    </p>
		    {% endif %}
		    {% if post.status == False %}
		    	<h2>delivery status:in-transit</h2>
		    </p>
		    {% endif %}
		    <p><h2>picture of the lost-found object:</h2></p>
		    <img width="200" height="200" src="{{post.file.url}}">
		    
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">click here for further changes </a></h2>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}

